body {
  font-family: "Georgia", serif;
  background-color: #fff;
  color: #555;
  text-align: center;
  padding: 50px;
  margin: 0;
  background-image: url("back.png"); /* アップロードした画像を参照 */
  background-size: cover; /* 画像が画面全体を覆うようにする */
  background-position: center; /* 画像の中央を基準に配置 */
  background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.container {
  background-color: rgba(255, 250, 240, 0.9); /* 背景が透けて見えるように */
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
}
h1 {
  color: #a37560;
  font-size: 2em;
  margin-bottom: 10px;
}
.intro {
  color: #7e7e7e;
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.social-links a {
  display: inline-block;
  margin: 10px 5px;
  text-decoration: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  letter-spacing: 0.5px;
}
.rakuten {
  background-color: #cc3399;
}
.instagram {
  background-color: #f7a1c4;
}
.tiktok {
  background-color: #d9d9d9;
}
.youtube {
  background-color: #fbb1a8;
}
.social-links a:hover {
  opacity: 0.85;
}
